body{
	background-color: rgb(255,228,196);
}
#content{
	margin: auto;
	max-width: 500px;
}
table{
	background-color: rgb(255,204,142);
	width: 50%;
}
table, tr, th, td{
	border: 1px solid black;

}
input{
	border-radius: 25px;
	height: 5%;
	
}
button{
	border-radius: 25px;
	float: left;
	cursor: pointer;
}
button a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
#addButton{
	margin-top: 5px;
}
#filterButton{
	width: 20%;
}
#searchInputText{
	width: 50%;
}