* {
	-webkit-box-sizing: border-box;
}

html, body{
	height: 100%;
}


header img {
    height: 80px;
    margin-left: 40px;
}


body {
    height: 125vh;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
	background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 63px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 10px 0 grey;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
	float: right;
}

li a{
	padding: 14px 16px;
	text-decoration: none;
	color: orange;
	font-size: 115%;
}
li a:hover {
	color: rgb(173, 153, 133);
}
