* {
	-webkit-box-sizing: border-box;
}

html, body{
	height: 100%;
}
header{
	height:15%;
	margin: auto;
	background-color: bisque;
}
header h1{
	text-align: center;
	color: rgb(182, 152, 112);
	text-decoration: none;
	float: left;
}
header img{
	width: auto;
	height: 100%;
	float: left;
}
header h1{
	margin: 1%;
	color: #b69870;
	text-decoration: underline;
}
#menu{
	list-style-type: none;
	margin-right: 10px;
	overflow: hidden;
}
#menu li{
	float: right;
}

#menu li a{
	display: inline-block;
	text-align: center;
	font-size: 25px;
	padding: 14px 16px;
	text-decoration: none;
	color: #b69870;
}
#menu li a:hover {
    background-color: rgb(255,188,106);
	color: white;
}
form h1{
	padding:40px;
	color: white;
	text-decoration: underline;
}

form{
	padding-top: 5%;
	text-align: center;
	height:auto; 
    margin:0 auto;
}

form div{
	width: 20%;
	margin:auto;
	background-color:rgba(0, 0, 0, 0.5);
}

label{
	color: rgb(255, 255, 255);
	font-size: 150%;
	font-weight: bold;
}

input{
	margin: 5px;
	border-radius: 25px;
	width:80%;
	height: 9%;
	margin:1%;
}

#submitBtn{
	border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
	border-radius:25px;
	margin-top: 10%;
	width: 100%;
	-webkit-transition-duration: 0.4s; /* Safari */

}
#submitBtn:hover{
	background-color: #555555;
    color: white;
}
.sect{
	height: 100%;
	background-size: 50%;
	background-attachment: fixed;
	
}

.sectOne{
	background-image: url("images/d.jpeg");
	background-size: 50%;
	position: relative;
}

.sectTwo{
	background: url("images/taiyaki.jpeg") left no-repeat, url("images/a.jpeg");
	background-size: 50%;
	position: relative
}

#firstForm{
	position: relative;
	border-radius:25px;
	height: 350px;
}

#secForm{
	position: relative;
	border-radius:25px;
	height: 350px;
}
.formName{
	text-decoration: underline;
	font-size: 180%;
}
