* {
	-webkit-box-sizing: border-box;
}
html{
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
html, body{
	height: 100%;
}
header{
	height:15%;
	background-color: bisque;
}
header h1{
	text-align: center;
	color: rgb(182, 152, 112);
	text-decoration: none;
	float: left;
}
header img{
	width: 10%;
	height: 100%;
	float: left;
}
header h1{
	margin: 1%;
	color: #b69870;
	text-decoration: underline;
}
form h1{
	padding:40px;
	color: white;
	text-decoration: underline;
}

form{
	padding-top: 5%;
	text-align:center;
	height: 20%;
	text-align: center;
}

form div{
	width: 20%;
	margin:auto;
	background-color:rgba(0, 0, 0, 0.5);
}

label{
	color: rgb(255, 255, 255);
	font-size: 150%;
	font-weight: bold;
}

input{
	margin: 5px;
	border-radius: 25px;
	width:80%;
	height: 9%;
	margin:1%;
}

#submitBtn{
	margin-top: 10%;
	position:relative;
	width: 100%;
	height: 14%;
	border-radius:25px;

}
.sect{
	height: 100%;
	background-size: 50%;
	background-attachment: fixed;
}

.sectOne{
	background-image: url("images/d.jpeg");
	position: relative
}

.sectTwo{
	background-image: url("images/taiyaki.jpeg");
	position: relative
}

.firstForm{
	position: relative;
	border-radius:25px;
	height: 350px;
}

.secForm{
	position: relative;
	border-radius:25px;
	height: 350px;
}
.formName{
	text-decoration: underline;
	font-size: 180%;
}